[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
pandas = "*"
numpy = "*"
isort = "*"
scipy = "*"
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
scikit-learn = "*"
statsmodels = "*"
flask-caching = "*"
cachetools = "*"
polars = "*"

[dev-packages]
pre-commit = "*"
black = "*"
pylint = "*"
ggshield = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
