option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:server
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    InstanceType: c6g.large
    EC2KeyName: aws-eb
  aws:elasticbeanstalk:environment:process:default:
    Port: 8000
    Protocol: HTTP
